header{
    text-align: center;
    color: #FFDD4A;
    font-size: 30px;
    border-bottom: 2px solid #8E9DCC;
    border-top: 2px solid #8E9DCC;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color: #2B2D42;
}

footer{
   text-align: center;
    color: #FFDD4A;
    font-size: 15px;
    border-bottom: 2px solid #8E9DCC;
    border-top: 2px solid #8E9DCC;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.contain{
    margin-left: 480px;
}

table{
    border-bottom: 2px solid #8E9DCC;
    border-top: 2px solid #8E9DCC;
    border-left: 2px solid #8E9DCC;
    border-right: 2px solid #8E9DCC;
    border-collapse: collapse;
    width: 500px;
}

td{
    border-bottom: 2px solid #8E9DCC;
    border-collapse: collapse;
    text-align: right;
}

.singer-image{
    border: 3px solid #8E9DCC;
    width:300px;
    height: 350px;
    padding: 4px;
    margin: 3px;
}

.photo{
    text-align: center;
}
